<h1>Articles#index</h1>
<% @articles.each do |article| %>
<p><%= article.title %> <%= article.content %>  <%= link_to "edit", edit_article_path(article)%>
    <%= link_to "Delete",
    article_path(article),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  <%= link_to "show", article_path(article) %>
</p>
<% end %>
